<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Mon message</h1>


<form action="/update/<%= find.id%>" method="post">

    <!-- <input type="hidden" name="id" value='<%= find.id%>'> -->
    <!-- <input type="hidden" name="name" value='<%= find.name%>'> -->
    <h4>Nom</h4>
        <div class="form-groups">
            <input type="text" name="name" value='<%= find.name%>' > 
        </div>
    <br>
    <h4>Message</h4>
        <textarea name="message" cols="30" rows="10" value='<%= find.message%>'></textarea>
    <!-- <input type="text" name="message" value='<%= find.message%>' > -->

    <button class="btn btn-primary" type="submit"> Update</button>
    </form>
    </div>
</body>
</html>